*
    font-size: 20px
    margin: 0
    box-sizing: border-box

body
    background: #eaeaea


@keyframes fade-in
    from
        opacity: 0
    to
        opacity: 1

@keyframes fly-in
    0%
        opacity: 0;
        transform: translateY(-40px);

    100%
        opacity: 1;
        transform: translateY(0);

h1.big
    font-weight: 100
    font-size: 6rem

.container
    margin: 1rem

.center
    text-align: center

.inline_children
    & > *
        display:inline-block
        vertical-align: middle

.hidden
    display: none
