- var title = "Page not found"
include _head.jade

body
    main(class="container center")
        h1(class="big")="404"
        section(class="inline_children")
            p.
                Did you take a wrong turn?<br>
                Let me show you a <a href="/ds2-js">way</a>
            img(src="img/Miyuki.png")

