- var title = "Devil Survivor 2 Record Breaker Save Editor"
include _head.jade

body
    main

    script(src="app.js")
    script.
        require('init')

    noscript
        section
            p="Javascript is disabled :("
            p="Please enable it for site to work."

